@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Nunito:wght@300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0.1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: o;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5em;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

section {
    padding: 2rem 9%;
}

section:nth-child(even) {
    background: #eee;
}

header .logo {
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo ion-icon {
    color: var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: 1.5rem 1.5rem;
    color: var(--light-color);
}

header .navbar a.active,
header .navbar a:hover {
    color: #fff;
    background: var(--green);
}

header .icons ion-icon,
header .icons a {
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons ion-icon:hover,
header .icons a:hover {
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bar {
    display: none;
}

#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-box {
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label {
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
}

#search-form label:hover {
    color: var(--green);
}

#search-form #close {
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
}

.slide {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.content {
    flex: 1 1 45rem;
}

.images {
    flex: 1 1 45rem;
}

.images img {
    width: 100%;
}

span {
    color: var(--green);
    font-size: 2.5rem;
}

h3 {
    color: var(--black);
    font-size: 7rem;
}

p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.btn {
    margin-top: 1rem;;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--green);
    letter-spacing: .1rem;
}

.swiper-pagination-bullet-active {
    background: var(--green);
}

.box img {
    border-radius: 30px;
    width: 300px;
}

.tasty {
    font-size: 18px;
    color: var(--black);
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,0.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.love,
.eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.love:hover,
.eye:hover {
    background: var(--green);
    color: #fff;
}

.love {
    right: -15rem;
}

.eye {
    left: -15rem;
}

.box:hover .love {
    right: 1.5rem;
}

.box:hover .eye {
    left: 1.5rem;
}

.box img {
    height: 17rem;
    margin: 1ren 0;
}

.stars {
    padding: 1rem 0;
}

.starss {
    font-size: 1.7rem;
    color: var(--green);
}

.box span {
    color: 
    var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.image {
    flex: 1 1 45rem;
}

.image img {
    width: 100%;
}

.row .content {
    flex: 1 1 45rem;
}

.content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.content p {
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: 1rem solid rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.icons ion-icon {
    font-size: 2.5rem;
    color: var(--green);
}

.icons span {
    font-size: 1.5rem;
    color: var(--black);
}

.box-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box {
    background: #fff;
    border: 1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.menu .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.heart {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color: var(--black);
}

.heart:hover {
    background-color: var(--green);
    color: #fff;
}

.menu .content {
    padding: 2rem;
    padding-top: 0;
}

.menu .stars {
    padding-bottom: 1rem;
}

.menu ion-icon {
    font-size: 1.7rem;
    color: var(--green);
}

.menu h3 {
    color: var(--black);
    font-size: 2.5rem;
}

.menu p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
}

.price {
    color: var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;
}

.infinite {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.user h3{
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.user ion-icon {
    font-size: 1.3rem;
    color: var(--green);
}

.review p {
    font-size: 1.5rem;
    line-height: 1.8;
    color: var(--lighr-color);
}

.order form {
    max-width: 90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}

.inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input {
    width: 49%;
}

.input span {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);  
}

.input input,
.input textarea {
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.input input:focus,
.input textarea:focus {
    border: .1rem solid var(--green);
}



.input textarea {
    height: 20rem;
    resize: none;
}

.order .btn {
    margin-top: 0;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.box3 {
    padding: 2.5rem;
    background: #fff;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.box3 a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.box3 a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 35rem;
    background: linear-gradient(#fff, #fff);
}

.loader-container.fade-out {
    top: 110%;
    opacity: 0;
}






@media (max-width: 991px) {
    html  {
        font-size: 55%;
    }
    header {
        padding: 1rem 2rem;
    }
    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    header .icons #menu-bar {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    #search-box {
      width: 90%;
      margin: 0 1rem;  
    }

    header .active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }
    .h3 {
        font-size: 5rem;
    }
}

@media (max-width: 450px) {
    html  {
        font-size: 50%;
    }

    .box img {
        width: 100%;
        height: auto;
    }

    .input {
        width: 100%;
    }
}